.section{
    width: 100%;
    height: 100%;
}

.container{
    width: 1100px;
    margin: 100px auto 100px;
}

.container h2{
    margin-bottom: 45px;
    text-align: center;
}

.text{
    font-size: 18px;
    line-height: 60px;
    color: #302922;
    animation-name: mainTxt;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    position: relative;
}

.mainTxt{
    z-index: 6;
    position: relative;
}



h2{
    font-size: 50px;
}


span{
    font-size: 24px;
    color: #f8930a;
}



.contact{
    display: flex;
    justify-content: space-evenly;
    width: 1100px;
    margin: 40px auto 0;
}

.contItem{
    width: 80px;
    cursor: pointer;
}

.pers p {
    background: rgba(0, 0, 0, .5);
    font-size: 20px;
    padding: 5px;
    margin:  10px 0;
    color: #ffff;
    border-radius: 5px;
    position: absolute;
    z-index: 4;
}


.downline{
    width: 100%;
    display: flex;
    margin-bottom: 900px;
}

.bg2{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
}

.descr{
    position: relative;
    font-weight: 500;
    font-size: 44px;
    line-height: 70px;
    left: 300px;
    top: 300px;
    color: #ffff;
    background: rgba(0, 0, 0, .6);
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
}

.mainWord{
    color: #f8930a;
    font-size: 54px;
}