.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.navbar.active{
    background-color: #ffffff;
    transition: 1s all;
}

.burger{
  display: none;
}

.container{
    width: 1100px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.leftside{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo{
    width: 130px;
}

.middle{
    display: flex;
}

.navlist{
    display: flex;
    width: 700px;
    list-style-type: none;
    justify-content: space-evenly;
    font-size: 20px;
    cursor: pointer;

}

.order{
    width: 160px;
    height: 50px;
    border-radius: 7px;
    border: 1px solid #302922;
    color: #302922;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.orderS{
    color: #164ca7;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.7px;
}

.order:hover{
    animation: rotate624 0.7s ease-in-out both;
}

.order:hover .orderS{
    animation: storm1261 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes rotate624 {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  
    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }
  
    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }
  
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
  
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }

  @keyframes storm1261 {
    0% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
  
    25% {
      transform: translate3d(4px, 0, 0) translateZ(0);
    }
  
    50% {
      transform: translate3d(-3px, 0, 0) translateZ(0);
    }
  
    75% {
      transform: translate3d(2px, 0, 0) translateZ(0);
    }
  
    100% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
  }

  .order{
    border: 1px solid;
    overflow: hidden;
    position: relative;
  }

  .order::after{
    background: #38ef7d;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.4;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }

  .order:hover::after{
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  @media screen and (max-width: 868px) {

    .navbar{
      width: 768px;
    }
    .container{
      display: none;
    }
    
    .burger{
      display: flex;
      width: 768px;
    }
  }

 

  @media screen and (max-width: 425px) {
    .navbar{
      width: 425px;
    }

    .container{
      display: none;
    }
    
    .burger{
      display: flex;
      width: 425px;
    }
  }