.section{
    width: 100%;
    height: 100%;
}

.container{
    width: 1100px;
    background-color: #ffff;
    margin: 0 auto;
}

.introImg{
    width: 100%;
    height: 900px;
    
}

.stage{
    width: 120px;
    margin-left: 45%;
    animation: down 3s linear infinite alternate;
}

@keyframes down {
    from {
        transform: scale(1);
    }
    to{
        transform: scale(1.3);
    }
}




@media screen and (max-device-width: 868px ) {
    
    .section{
        width: 100%;
        height: 100%;
    }
    
    
    .container{
        width: 100%;
    }

    .introImg{
        width: 100%;
        height: 499px;
    }

    .stage{
        width: 80px;
        margin-left: 45%;
    }

}
@media screen and (max-device-width: 425px) {
  
    .section{
         width: 100%;
         height: 100%;
     }
     
     .container{
         width: 100%;
     }
 
     .introImg{
         width: 100%;
         height: 399px;
     }
 
     .stage{
         width: 40px;
         margin-left: 45%;
     }
 }

